<%- include ('../../shared/includes/head' ,{pageTitle:'Goodnotes' })%>
</head>
<body>
    <%- include ('../../shared/includes/header') %>
    <main>
        <h1>Notes</h1>
        <p> pokhara university notes</p>
    </main>
    
<%- include ('../../shared/includes/footer') %>