<ul class="nav-items">
  <% if (!locals.isAdmin) { %>
  <li><a href="/">Browse</a></li>
  <li><a href="/bookmarks">Bookmarks</a></li>
  <% } %> <% if (locals.isAuth && !locals.isAdmin){ %>
  <li><a href="/download">Download</a></li>
  <% } %> <% if (locals.isAdmin){ %>
  <li><a href="/admin/notes">Manage Notes</a></li>
  <% } %> <% if (!locals.isAuth){ %>
  <li><a href="/signup">Signup</a></li>
  <li><a href="/login">login</a></li>
  <% } %> <% if (locals.isAuth){ %>
  <li>
    <form action="/logout" method="POST">
      <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>" />
      <button>Logout   <i class="fa-solid fa-right-from-bracket"></i></button>
    </form>
  </li>
  <% } %>
</ul>
